---
import "../../global.css";

import Banner from "../../components/Banner.astro";
import Header from "../../components/Header.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContentSection from "../../components/ContentSection.astro";
import Annotation from "../../components/Annotation.astro";

const userJourneyAnnotations = [
  "The dashboard shows the current value of all FDs vs the total invested amount, interest earned",
  "Users can view active and closed FDs and book a new FD easily",
  "Clicking on an active FD opens its details, showing the current value, maturity amount, time left, auto-renewal date. For Flexi FDs, we added status of each part - active/withdrawn",
  "When breaking a Flexi FD, users can select only the part they want to withdraw",
  "We show a withdrawal summary to explain interest calculations and the final amount, helping users make informed decisions",
  "The total amount including interest is highlighted at the bottom",
  "If users select multiple parts, each part has to be broken separately. I designed a stepper to help users easily withdraw one part at a time without confusion ",
  "On the withdrawal success screen, we highlight the total amount received and the breakdown from each part",
];
---

<BaseLayout title="Flexi Deposits | Case Study">
  <Header />

  <main class="max-w-desktop-content mx-auto space-y-16">
    <h2 class="blog-title mb-4 mt-20">Flexi Deposits</h2>

    <ContentSection title="Background">
      <p class="section-content">
        We found that 32% of Fixed Deposits are broken prematurely within 2
        months of booking. 60% of these deposits were rebooked at 65% of the
        original amount. Our hypothesis was that users needed money urgently but
        had no option to withdraw partially. This forced them to break the
        entire FD and lose earned interest.
        <br /><br />
        To solve this, we introduced Flexi FD, a feature that allows users to withdraw
        partially from their FDs.
      </p>
    </ContentSection>

    <ContentSection title="My Role">
      <p class="section-content">
        I designed the entire experience for booking and managing a Flexi FD
        from scratch, including its discovery on the homepage and within the FD
        types. I also conceptualised the branding and animations for the 'How It
        Works' screen.
      </p>
    </ContentSection>

    <Banner
      title="Impact"
      body="70% of the deposits booked are Flexi FDs. Flexi FD average amount is 60,000 while a regular FD average amount is 30,000"
    />
  </main>

  <div class="bg-almondMil40 mt-16 py-16">
    <div class="max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="What is a Flexi FD?">
        <p class="section-content">
          When conceptualising this, we wanted to make it clear that a user's
          total FD amount would be automatically divided into 3 or 5 equal
          parts. Users can choose to withdraw any part based on amount they
          need. The remaining parts continue to earn interest until maturity.
        </p>

        <img
          src="/flexi-deposits/cvp.png"
          class="mx-auto mt-16 mb-6 w-screenshot-md"
        />
      </ContentSection>
    </div>
  </div>

  <div class="space-y-16 bg-almondMilk60 py-16">
    <div class="max-w-desktop-content mx-auto">
      <ContentSection title="Booking a Fixed Deposit">
        <p class="section-content">
          Users can compare different FD options based on interest rates and
          tenures. To make it clear that any FD can be converted into a Flexi
          FD, we added a section above the cards.
          <br /><br />
          Once the Flexi FD feature is activated, we inform users that their FD will
          be divided into 3 or 5 equal parts.
        </p>

        <video
          src="/videos/flexi-fd.mp4"
          class="h-screenshot-md mx-auto mt-16 mb-6 rounded-2xl shadow-screenshot"
          autoplay
          loop
        >
        </video>
      </ContentSection>
    </div>
  </div>

  <div class="space-y-16 bg-almondMil40 py-16">
    <div class="max-w-desktop-content mx-auto">
      <ContentSection title="FD Overview and Withdrawal Journey">
        <p class="section-content">
          To break an FD, users can select the parts they wish to withdraw,
          review a summary and proceed. We guide users by clearly displaying how
          early withdrawals affect interest rates.
        </p>
      </ContentSection>
    </div>

    <div class="max-w-desktop-content-wide mx-auto pb-24">
      <img src="/flexi-deposits/user-journey.png" class="" />

      <div class="space-y-8 mt-16">
        {
          userJourneyAnnotations.map((content, index) => (
            <Annotation index={index + 1} content={content} />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
