---
import "../global.css";

import Banner from "../components/Banner.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ContentSection from "../components/ContentSection.astro";
---

<BaseLayout title="Flexi Deposits | Case Study">
  <Header />

  <main class="max-w-desktop-content mx-auto space-y-16">
    <h2 class="text-5xl mb-4 mt-20">Flexi Deposits</h2>

    <ContentSection title="Background">
      <p class="text-lg">
        We found that 32% of Fixed Deposits are broken prematurely within 2
        months of booking. 60% of these deposits were rebooked at 65% of the
        original amount. Our hypothesis was that users needed money urgently but
        had no option to withdraw partially. This forced them to break the
        entire FD and lose earned interest.
        <br /><br />
        To solve this, we introduced Flexi FD, a feature that allows users to withdraw
        partially from their FDs.
      </p>
    </ContentSection>

    <ContentSection title="My Role">
      <p class="text-lg">
        I designed the entire experience for booking and managing a Flexi FD
        from scratch, including its discovery on the homepage and within the FD
        types. I also conceptualised the branding and animations for the 'How It
        Works' screen.
      </p>
    </ContentSection>

    <Banner
      title="Impact"
      body="70% of the deposits booked are Flexi FDs. Flexi FD average amount is 60,000 while a regular FD average amount is 30,000"
    />
  </main>

  <div class="bg-almondMilk mt-16 py-16">
    <div class="max-w-desktop-content mx-auto space-y-16">
      <ContentSection title="Booking a Fixed Deposit">
        <p class="text-lg">
          Users can compare different FD options based on interest rates and
          tenures. To make it clear that any FD can be converted into a Flexi
          FD, we added a section above the cards.
          <br /><br />
          Once the Flexi FD feature is activated, we inform users that their FD will
          be divided into 3 or 5 equal parts.
        </p>
      </ContentSection>
    </div>
  </div>

  <div class="max-w-desktop-content my-16 mx-auto space-y-16">
    <ContentSection title="Dashboard and Breaking Experience">
      <p class="text-lg">
        To break an FD, users can select the parts they wish to withdraw, review
        a summary and proceed. We guide users by clearly displaying how early
        withdrawals affect interest rates. If they select multiple parts, each
        part is broken separately. I designed a stepper to help users easily
        break one part at a time without confusion.
        <br /><br />
        Finally on the success screen, we reassure them that the remaining parts
        of the FD continue to earn interest.
      </p>
    </ContentSection>
  </div>
</BaseLayout>
