---
import Star from "../icons/four-point-star-m.svg";

interface Props {
  title: string;
  body: string;
}

const { body, title } = Astro.props;
---

<div class="bg-yellow100 border border-yellow40 p-5">
  <div class="flex flex-row justify-start items-center space-x-3 mb-2">
    <img src={Star.src} alt="four-pointer-star" />

    <h5 class="text-xl leading-8 font-bold text-black10">{title}</h5>
  </div>

  <p class="ml-9">{body}</p>
</div>
