---
interface Props {
  title: string;
  addPaddingRight?: boolean;
}

const { title, addPaddingRight = true } = Astro.props;
---

<section>
  <h3 class="section-title mb-3">{title}</h3>

  <div class={addPaddingRight ? "pr-48" : ""}>
    <slot />
  </div>
</section>
