---

---

<div
  class="bg-almondMilk10 w-full flex justify-between items-center py-11 px-44"
>
  <div class="flex flex-row justify-center items-center space-x-20">
    <a
      href="https://in.linkedin.com/in/pooja-metkar-15030777"
      class="hover:underline"
      target="_blank">LINKEDIN</a
    >
    <a
      href="https://www.instagram.com/poojamtkr/"
      class="hover:underline"
      target="_blank">INSTAGRAM</a
    >
    <a
      href="https://medium.com/@poooja.metkar"
      target="_blank"
      class="hover:underline">MEDIUM</a
    >
  </div>

  <a href="mailto:poojametkar.id@gmail.com" class="hover:underline"
    >poojametkar.id@gmail.com</a
  >
</div>
