---

---

<div class="bg-almondMilk w-full flex justify-between items-center py-11 px-44">
  <div class="flex flex-row justify-center items-center space-x-20">
    <a href="" class="hover:underline">LINKEDIN</a>
    <a href="" class="hover:underline">INSTAGRAM</a>
    <a href="" class="hover:underline">MEDIUM</a>
  </div>

  <a href="mailto:poojametkar.id@gmail.com" class="hover:underline"
    >poojametkar.id@gmail.com</a
  >
</div>
