---
interface Props {
  showDivider?: boolean;
}

const { showDivider = true } = Astro.props;
---

<header
  class={`flex flex-row justify-between items-center py-8 text-black px-44 ${showDivider ? "border-b-[1px] border-black20" : ""}`}
>
  <h1 class="font-bold text-xl leading-7">
    <a href="/">POOJA METKAR</a>
  </h1>

  <nav class="text-lg leading-6 space-x-14">
    <a href="/work">WORK</a>
    <a href="/play">PLAY</a>
    <a href="/about">ABOUT</a>
  </nav>
</header>
