---
interface Props {
	showDivider?: boolean
}

const { showDivider = true } = Astro.props
---

<header class={`flex flex-row justify-between items-center py-8 px-44 text-black ${showDivider ? "border-b-[1px] border-black120" : ""}`}>
	<h1 class="font-bold text-xl leading-7">POOJA METKAR</h1>

	<nav class="text-lg leading-6 space-x-14">
		<a href="/work">WORK</a>
		<a href="/about">ABOUT</a>
	</nav>

</header>