---
interface Props {
  label: string;
  link: string;
  target?: "_blank" | "_parent" | "_self" | "_top";
}

const { label, link, target } = Astro.props;
---

<a
  href={link}
  target={target}
  class="inline-block w-fit group transition duration-200"
  >{label}
  <span
    class="block max-w-0 group-hover:max-w-full h-[2px] bg-black30 transition-all duration-200"
  ></span>
</a>
