---
import "../global.css";

import Perceptive from "../illustrations/perceptive.svg";
import Harmonic from "../illustrations/harmonic.svg";
import Smth from "../illustrations/smth.svg";

import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsLink from "../components/ProjectsLink.astro";
import Divider from "../components/Divider.astro";

interface Blog {
  title: string;
  link: string;
}

const projects: Blog[] = [
  {
    title: "Crafting Financial Journeys",
    link: "/blog/crafting-financial-journeys",
  },
  {
    title: "Flexi Deposits",
    link: "/blog/flexi-deposits",
  },
  {
    title: "Research",
    link: "/blog/loans-research",
  },
  {
    title: "Designing for Everyday Learning",
    link: "/blog/designing-everyday-learning",
  },
  {
    title: "Onboarding",
    link: "/blog/vedantu-onboarding",
  },
  {
    title: "Reimagining Assignments",
    link: "/blog/vedantu-assignments",
  },
];
---

<BaseLayout title="Pooja Metkar">
  <main>
    <section class="relative bg-almondMil40">
      <Header currentPage="work" />

      <div class="pt-28 pb-20 max-w-desktop-content-wide mx-auto">
        <p
          class="text-[28px] font-light leading-10 tracking-tight text-[#6B330E] max-w-5xl"
        >
          Hello! I’m Pooja Metkar.
          <br />
          I’m a Bangalore-based UX designer, currently working with <span
            class="font-medium"
          >
            Jupiter</span
          >. Previously I was at <span class="font-medium">Vedantu</span>,
          building an everyday learning platform. Before that I designed
          furniture shopping experiences at <span class="font-medium"
            >Flipkart</span
          > for 50 million+ Indians.
        </p>
      </div>
    </section>
  </main>

  <section class="py-16 mt-4 mb-56 max-w-desktop-content-wide mx-auto">
    <h3 class="text-black60 font-light tracking-wide mb-7 uppercase">
      Projects
    </h3>

    {
      projects.map((project, index) => (
        <div>
          <ProjectsLink
            index={index + 1}
            title={project.title}
            link={project.link}
          />

          <Divider variant="looksRed" enforceFullWidth />
        </div>
      ))
    }
  </section>
</BaseLayout>
