---
import RedStar from "../../icons/red-star.svg";

interface Props {
  title: string;
  trailingText: string;
}

const { title, trailingText } = Astro.props;
---

<div class="flex flow-row justify-start items-center">
  <img src={RedStar.src} />
  <h3 class="ml-4 font-medium text-3xl text-black10">
    {title}
  </h3>
  <p class="ml-2 text-lg text-black30">
    {trailingText}
  </p>
</div>
